<% layout("/layouts/boilerplate") %>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %> ;
</script>

<div class="row">
  <!-- Listing Title -->
  <div class="col-6 offset-2">
    <h3 class="mt-4"><%= listing.title %></h3>
  </div>

  <!-- Card with Image and Listing Details -->
  <div class="card col-6 offset-2 show-card .listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <i>Owned By: <%= listing.owner.username %></i>
      </p>
      <p class="card-text"><%= listing.description %> <br /></p>
      <p class="card-text">
        &#8377;<%= listing.price.toLocaleString("en-IN") %> <br />
      </p>
      <p class="card-text"><%= listing.location %> <br /></p>
      <p class="card-text"><%= listing.country %></p>
    </div>
  </div>

  <!-- Edit and Delete Buttons -->
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-2"
      >Edit</a
    >
    <br /><br />
    <form action="/listings/<%= listing._id%>/?_method=DELETE" method="POST">
      <button class="btn btn-dark offset-4">Delete</button>
    </form>
  </div>

  <hr class="mt-4" />
  <% if (currUser) { %>
  <!-- Leave a Review Section -->
  <div class="col-8 offset-2 mb-3">
    <h3>Leave a Review</h3>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="rating" id="rating">
        <input type="radio" name="review[rating]" id="star5" value="5" />
        <label for="star5" class="star">★</label>
        <input type="radio" name="review[rating]" id="star4" value="4" />
        <label for="star4" class="star">★</label>
        <input type="radio" name="review[rating]" id="star3" value="3" />
        <label for="star3" class="star">★</label>
        <input type="radio" name="review[rating]" id="star2" value="2" />
        <label for="star2" class="star">★</label>
        <input type="radio" name="review[rating]" id="star1" value="1" />
        <label for="star1" class="star">★</label>
      </div>
      <div class="rating-result" id="rating-result">Your rating:</div>

      <div class="mb-3 mt-3">
        <label for="Comment" class="form-label">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add a Review</div>
      </div>
      <button class="btn btn-dark">Submit</button>
    </form>
    <% } %>
    <!-- Review Section -->
    <% if(listing.reviews.length > 0) { %>
    <div class="row">
      <p><b>All Reviews</b></p>
      <% for(review of listing.reviews) { %>
      <div class="card col-6 mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= review.author.username %></h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> Stars</p>
        </div>
        <form
          class="mb-3"
          method="post"
          action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div class="col-8 offset-2 mb-3">
    <h3>Where you'll be</h3>
    <div id="map"></div>
  </div>
</div>

<script src="/js/map.js"></script>
